.small-screen-tall {
    width: 375px;
    height: 665px;
    border: 1px solid;
}

.small-screen-wide {
    width: 665px;
    height: 375px;
    border: 1px solid;
}

.desktop-1500x900 {
    width: 1500px;
    height: 900px;
    border: 1px solid;
    flex-wrap: wrap;
}