* { /* globally disable margin and padding so we can control these values more granularly by element */
    margin: 0;
    padding: 0;
}

/*******************************
 * TARGET ELEMENTS BY HTML TAG *
 *******************************/
a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

img {
    max-width:100%;
    max-height:100%;
}

ul {
    list-style-type: square;
    margin-left: 2em;
}

header {
    position: absolute;
    top: 0;
    width:100%;
    min-height: 4.5em; /* this is to guarantee space for a 3.5em text-size h1 header title */
}

body {
    width:100%;
    margin-top: 4.5em;
    height:100%;
    overflow:hidden;
}

footer {
    background-color:rgba(100,100,100,0.5);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2vh;
    z-index: 2;
}

.dark, .light {
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

body.dark, div.dark {
    background-color: black;
    color: white;
}

body.light, div.light {
    background-color: white;
    color: black;
}

h1 {
    font-size: 3.5em;
}

h1.dark {
    text-shadow:
           -1px -1px 0 black,
            1px -1px 0 black,
           -1px  1px 0 black,
            1px  1px 0 black;
    border-bottom: 1px solid white
}

h1.light {
    text-shadow:
           -1px -1px 0 white,
            1px -1px 0 white,
           -1px  1px 0 white,
            1px  1px 0 white;
    border-bottom: 1px solid black;
}

button {
    margin: 5px;
    padding:0;
    border-radius: 7px;
    text-wrap: nowrap;
    width:fit-content;
}

button > :first-child {
    padding: 2px 5px 2px 5px;
    /* relative position w/ offset to make text respect padding */
    position: relative;
    right: 5px;
}

button.dark {
    border: 1px solid rgba(255,255,255,0.5);
    background-color: rgba(40,40,40,0.85);
    color: white;
}

button.dark:hover {
    background-color: rgba(200,200,200,0.5);
}

button.light {
    border: 1px solid rgba(55,55,55,0.5);
    background-color: rgba(200,200,200,0.75);
    color: black;
}

button.light:hover {
    background-color: rgba(255,255,255,0.5);
}

button > a {
    display: block;
    width: 100%;
    height:100%;
}

/********************************
 * TARGET ELEMENTS BY CSS CLASS *
 ********************************/

.hidden {
    visibility: hidden;
    display: none;
    width: 0;
    height: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-reversed {
    display: flex;
    flex-direction: column-reverse;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reversed {
    display: flex;
    flex-direction: row-reverse;
}

.navbar-list {
    list-style-type: none; /* removes bullets */
    margin: 0;
    width: fit-content;
}

.navbar-list > li {
}

.navbar-list > li > button {
    width: 100%;
    border-radius: 0;
    margin: 2px 0 1px 0;
    font-family: "Copperplate", "sans-serif";
}

.navbar-list.dark > li:hover {
    text-shadow:
           -1px -1px 0 white,
            1px -1px 0 white,
           -1px  1px 0 white,
            1px  1px 0 white;
}

.navbar-list.light > li:hover {
    text-shadow:
           -1px -1px 0 black,
            1px -1px 0 black,
           -1px  1px 0 black,
            1px  1px 0 black;
}

.body-section {
    background-color: rgba(100,100,100,0.2);
    padding: 2px 5px 2px 5px;
    margin: 5px 0 5px 0;
    width: auto;
}

.body-section.dark {
    border: 1px solid antiquewhite;
}

.body-section.light {
    border: 1px solid black;
}

.hide-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* For WebKit browsers */
}

.dropdown {
    z-index: 10;
    position: relative;
    display: inline-block;
    width: fit-content; /* controlled by JS */
    height: fit-content; /* note: does NOT include height of content - this is ONLY the "first row" so to speak */
}

.dropdown-content {
    display: none; /* visibility controlled by JS - this display: none is simply the initial value */
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 5px 5px;
    z-index: 100; /* setting this to an arbitrarily large number to it always draws on top */
}

.dropdown-content.dark {
    background-color: rgba(255,255,255,0.25);
}

.dropdown-content.light {
    background-color: rgba(0,0,0,0.5);
}

/*************************
 * TARGET ELEMENTS BY ID *
 *************************/
#resume {
    overflow:hidden;
    width:50lh;
    max-width: 100%;
    aspect-ratio: 8.5 / 11;
    z-index:50;
}

#main-header {
    aspect-ratio: 6400/1584;
}

#main-header.dark {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%), url("../images/baxter-peak.jpg");
    background-size: 100vw;
}

#main-header.light {
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%), url("../images/baxter-peak.jpg");
    background-size: 100vw;
}

#main-body {
    padding:0 0.25vw 0 0.25vw;
    height:100%;
    overflow-y:scroll;
    flex-wrap:wrap;
    justify-content:center;
    margin-top:4.5em;
    margin-bottom:2em;
    position:relative;
    z-index:1;
}


/* mobile-specific settings to help things fit better on tiny screens */
@media (max-width: 600px) {
    * {
        font-size: small;
    }

    .no-mobile {
        visibility: hidden;
        display: none;
        width: 0;
        height:0;
    }
}

@media (min-width: 601px) {
    * {
        font-size: large;
    }
}