* { /* globally disable margin and padding so we can control these values more granularly by element */
    margin: 0;
    padding: 0;
    /* setting a default transition speed */
    transition: all 1s;
}

/*******************************
 * TARGET ELEMENTS BY HTML TAG *
 *******************************/
a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

img {
    max-width:100%;
    max-height:100%;
}

ul {
    list-style-type: square;
    margin-left: 2em;
}

header {
    position: absolute;
    top: 0;
    width:100%;
    min-height: 4.5em; /* this is to guarantee space for a 3.5em text-size h1 header title */
}

body {
    width:100vw;
    height:100vh;
    overflow:hidden;
}

footer {
    background-color:rgba(100,100,100,0.5);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2vh;
    z-index: 2;
}

.light {
    color: black;
    border-color:black;
    background-color: white;
}

.dark {
    color: white;
    border-color: white;
    background-color: black;
}


h1 {
    font-size: 3.5em;
}


/********************************
 * TARGET ELEMENTS BY CSS CLASS *
 ********************************/

.title {
    background-color: transparent;
}

.title.dark {
    color: black;
    border-bottom: 1px solid white;
    text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px  1px 0 white,
            1px  1px 0 white;
}

.title.light {
    color: white;
    border-bottom: 1px solid black;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;
}

.text-outline {
    background-color: transparent;
}

.text-outline.dark {
    color: white;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;
}

.text-outline.light {
    color: black;
    text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px  1px 0 white,
            1px  1px 0 white;
}

.button {
    text-wrap: nowrap;
    cursor: pointer;
    margin: 2px 0 1px 0;
    font-family: "Copperplate Gothic Bold", "sans-serif";
    user-select: none; /* so users don't accidentally select/highlight button text when they meant to click on it */
}

.button > :first-child {
    display: block;
    width: 100%;
    text-align: center;
}

.button.light:hover {
    background-color: rgba(255,255,255,0.5);
}

.button.dark:hover {
    background-color: rgba(0,0,0,0.6);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-reversed {
    display: flex;
    flex-direction: column-reverse;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reversed {
    display: flex;
    flex-direction: row-reverse;
}

.navbar-list {
    background-color:transparent;
    list-style-type: none; /* removes bullets */
    margin: 0;
}

.navbar-list > li {
    list-style: none;
    margin: 1px 0;
    padding: 1px 5px;
    border: 1px solid;
    /* this 100vw is for mobile - desktop specific width is in a @media section at bottom */
    width: 100vw;
}

.hide-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* For WebKit browsers */
}

.dropdown {
    z-index: 10;
    position: relative;
    display: inline-block;
    width: fit-content; /* controlled by JS */
    height: fit-content; /* note: does NOT include height of content - this is ONLY the "first row" so to speak */
}

.dropdown-content {
    display: none; /* visibility controlled by JS - this display: none is simply the initial value */
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 5px 5px;
    z-index: 100; /* setting this to an arbitrarily large number to it always draws on top */
    flex-direction: column;
    align-items: flex-end;
}

.slide {
    width: 100%;
    max-height: 100%;
    justify-content: center;
    overflow: scroll;
}

.pane {
    padding: 1em;
    margin: 1px;
    max-height: 100%;
    width: fit-content;
    overflow-y: scroll;
}

.pane.dark {
    background-color: rgba(0,0,0,0.8);
    border: 1px solid white;
}

.pane.light {
    background-color: rgba(255,255,255,0.5);
    border: 1px solid black;
}

/* putting these near the bottom so they apply after (on top of) other classes which might have conflicting values */
.hidden {
    display: none;
    width: 0;
    height: 0;
}

.invisible {
    visibility: hidden;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    opacity: 0;
}

/*************************
 * TARGET ELEMENTS BY ID *
 *************************/
#resume {
    overflow:hidden;
    width:50lh;
    max-width: 100%;
    aspect-ratio: 8.5 / 11;
}

#main-header {
    aspect-ratio: 6400/1584;
}

#main-header.dark {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%), url("../images/baxter-peak.jpg");
    background-size: 100vw;
}

#main-header.light {
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%), url("../images/baxter-peak.jpg");
    background-size: 100vw;
}

#hamburger-menu {
    position: absolute;
    right: 0.5em;
    top: -0.5em;
    z-index: 2;
}

#popout-menu {
    position: relative;
    overflow-x: hidden;
    width: 2.25em;
    z-index: 2;
}

#popout-menu-button {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    font-size: 2.25em;
    position: relative;
}

#body-content {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
}

#slide-content {
    flex-grow: 1;
    margin-top: 4.5em; /* leave space for header */
    justify-content:center;
    overflow: hidden;
}

#slide-nav {
    /* to leave space for footer w/ ip address details */
    margin-bottom:1.25em;
    width: 100%;
}

#slide-nav-squares {
    flex-grow: 1;
}

#slide-nav-squares > span {
    margin: auto;
}

#slide-nav-prev, #slide-nav-next {
    align-self: center;
}

#slide-nav-prev {
    /* to leave space for popout menu (otherwise it overlaps and interferes w/ clicking due to z-index */
    margin-left: 2.5em;
}

#slide-nav-next {
    /* to match the left margin on slide-nav-prev */
    margin-right: 2.5em;
}

/* mobile-specific settings to help things fit better on tiny screens */
@media (max-width: 600px) {
    * {
        font-size: small;
    }

    .no-mobile {
        visibility: hidden;
        display: none;
        width: 0;
        height:0;
    }

    .flex-row.slide {
        flex-wrap: wrap-reverse;
    }

    .navbar-list > li {
        width: 100%;
    }

    #popout-menu-content > li {
        width: 100vw;
    }
}


/* desktop-specific settings - mostly boils down to making things larger w/ more whitespace */
@media (min-width: 601px) {
    * {
        font-size: large;
    }

    .navbar-list > li {
        /* adjust this to comfortably fit max length list item (setting a specific value instead of 100% helps transitions animate smoothly) */
        width: 10em;
    }

    .pane {
        /* so we can try to ensure 2 panes are able to exist side-by-side instead of wrapping (with a little whitespace to spare) */
        max-width: 45vw;
    }

    #popout-menu {
        padding: 5px;
    }
}