#recipe-card {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    background-color: light-dark(#ffffff,#1a1916);
    max-width: 80em;
}

#simple-title {
    min-width: 200px;
    width: 70%;
    padding: 0.5em 1em;
    justify-content: center;
    border: 1px solid;
    flex-grow: 1;
    height: fit-content;
}

#recipe-title {
    min-width: 200px;
    width: 25%;
    justify-content: center;
    padding: 0.5em 1em;
    border: 1px solid;
    flex-grow: 1;
    height: fit-content;
}

#recipe-steps {
    font-family: "Consolas", sans-serif;
    margin-left: 1em;
}

/* indents any notes underneath each step */
#recipe-steps > li > ul > li {
    margin-left: 1.2em;
}

#ingredients-list {
    font-family: "Consolas", sans-serif;
    margin-left: 1.25em;
}

#items-list {
    font-family: "Consolas", sans-serif;
    margin-left: 1.25em;
}