/*noinspection CssInvalidFunction*/
#sidebar {
    background-color: light-dark(#fffddf,#6952f2);
    height: 100vh;
}

#sidebar-icon {
    place-content: center;
    margin: -2em -1em -1.5em -1em;
}

#sidebar-toggle {
    font-size: 2em;
    background-color: transparent;
    z-index: 1;
}

#sidebar-content {
    overflow-x: hidden;
    text-align: center;
}

.sidebar-button {

}