:root {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* { /* globally disable margin and padding so we can control these values more granularly by element */
    margin: 0;
    padding: 0;
    /* setting a default transition speed */
    transition: all 1s;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

/*noinspection CssInvalidFunction*/
body {
    width:100vw;
    min-height:100vh;
    display: flex;
    background-color: light-dark(#535bf2, #12000a);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

h2, h3 {
    font-family: "Copperplate Gothic Bold", "sans-serif";
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-reversed {
    display: flex;
    flex-direction: column-reverse;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reversed {
    display: flex;
    flex-direction: row-reverse;
}

.button {
    text-wrap: nowrap;
    cursor: pointer;
    margin: 2px 0 1px 0;
    user-select: none; /* so users don't accidentally select/highlight button text when they meant to click on it */
}

.button > :first-child {
    display: block;
    width: 100%;
    text-align: center;
}

.hide-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* For WebKit browsers */
}

/* putting these near the bottom so they apply after (on top of) other classes which might have conflicting values */
.hidden {
    display: none;
    width: 0;
    height: 0;
}

.invisible {
    visibility: hidden;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    opacity: 0;
}

/* mobile-specific settings to help things fit better on tiny screens */
@media (max-width: 700px) {
    * {
        font-size: small;
    }

    .no-mobile {
        visibility: hidden;
        display: none;
        width: 0;
        height:0;
    }

    .flex-row {
        flex-wrap: wrap;
    }
}

/* desktop-specific settings - mostly boils down to making things larger w/ more whitespace */
@media (min-width: 701px) {
    * {
        font-size: large;
    }
}