:root {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

* { /* globally disable margin and padding so we can control these values more granularly by element */
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

/*noinspection CssInvalidFunction*/
body {
    width:100vw;
    min-height:100dvh;
    display: flex;
    background-color: light-dark(#fffcf2, #080004);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

h1, h2, h3 {
    font-family: "Copperplate Gothic Bold", "sans-serif";
}

li {
    margin-left: 1em;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-reversed {
    display: flex;
    flex-direction: column-reverse;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reversed {
    display: flex;
    flex-direction: row-reverse;
}

.button {
    text-wrap: nowrap;
    cursor: pointer;
    margin: 2px 0 1px 0;
    user-select: none; /* so users don't accidentally select/highlight button text when they meant to click on it */
}

.button > :first-child {
    display: block;
    width: 100%;
    text-align: center;
}

/*noinspection CssInvalidFunction*/
.x-button {
    cursor: pointer;
    margin: 0.25em;
    display: flex;
    width: 1.25em;
    height: 1.25em;
    place-content: center;
    place-items: center;
    padding-bottom: 0.2em;
    user-select: none; /* so users don't accidentally select/highlight button text when they meant to click on it */
    place-self:start;
    background-color: light-dark(red,#cc1554);
    border-color: light-dark(black,red)
}

/*noinspection CssInvalidFunction*/
.x-button:hover {
    background-color: light-dark(red,darkred);
    font-weight: 700;
}

/*noinspection CssInvalidFunction*/
.happy-button {
    background-color: light-dark(#1c7845,#104a40);
    border: 1px solid light-dark(black,#159094);
    border-radius: 0.25em;
    cursor: pointer;
}

/*noinspection CssInvalidFunction*/
.happy-button:hover {
    background-color: light-dark(gray,#073830);
}

.plus-button {
    cursor: pointer;
    margin: 0.25em;
    display: flex;
    width: 1.25em;
    height: 1.25em;
    place-content: center;
    place-items: center;
    padding-bottom: 0.2em;
    user-select: none; /* so users don't accidentally select/highlight button text when they meant to click on it */
    border-radius: 0.25em;
}

/*noinspection CssInvalidFunction*/
.plus-button:hover {
    background-color: light-dark(green,darkgreen);
    font-weight: 900;
}

/*noinspection CssInvalidFunction*/
.text-input {
    padding: 0.25em;
    margin: 0.25em;
    border: 1px solid light-dark(gray, gray)
}

.hide-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* For WebKit browsers */
}

/* putting these near the bottom so they apply after (on top of) other classes which might have conflicting values */
.hidden {
    display: none;
    width: 0;
    height: 0;
}

.invisible {
    visibility: hidden;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    opacity: 0;
}

/*noinspection CssInvalidFunction, CssReplaceWithShorthandSafely*/
.hatched-background {
    background:
            repeating-linear-gradient(
                -30deg,
                light-dark(#7974d4, #1b1040),
                light-dark(#7974d4, #1b1040) 1px,
                transparent 1px,
                transparent 15px
            ),
            repeating-linear-gradient(
                60deg,
                light-dark(#749cd4,#401037),
                light-dark(#749cd4,#401037) 1px,
                transparent 1px,
                transparent 15px
            );
    background-color: light-dark(white, #1a0013)
}

/*noinspection CssInvalidFunction*/
.text-outline {
    text-shadow:
            -0.5px -0.5px 0 light-dark(#ffffff,#000000),
            0.5px -0.5px 0 light-dark(#ffffff,#000000),
            -0.5px  0.5px 0 light-dark(#ffffff,#000000),
            0.5px  0.5px 0 light-dark(#ffffff,#000000);
}

/* mobile-specific settings to help things fit better on tiny screens */
@media (max-width: 700px) {
    * {
        font-size: small;
    }

    .no-mobile {
        visibility: hidden;
        display: none;
        width: 0;
        height:0;
    }

    .flex-row {
        flex-wrap: wrap;
    }
}

/* desktop-specific settings - mostly boils down to making things larger w/ more whitespace */
@media (min-width: 701px) {
    * {
        font-size: large;
    }
}