#new-recipe {
    padding: 1em;
}

#new-recipe-title-text, #new-recipe-add-ingredient-text, #new-recipe-add-item-text, #new-recipe-add-step-text {
    flex-grow: 1;
}

#new-recipe-ingredient-list, #new-recipe-item-list , #new-recipe-step-list {

}

#new-recipe-add-ingredient-button, #new-recipe-add-item-button, #new-recipe-add-step-button {
    padding: 0.25em;
    width: 10em;
}

#new-recipe-submit-button {
    margin: 0.25em;
    position: sticky;
    bottom: 0;
}