#preheating {

}

/*noinspection CssInvalidFunction*/
#preheating-text {
    color: light-dark(#a01c2c,#ffa36b);
    animation: preheating-glow 10s ease-in-out infinite alternate;
}

/*noinspection CssInvalidFunction*/
@keyframes preheating-glow {
    from {
        text-shadow:
                -5px 0 5px light-dark(#ede2b6,#1c0812),
                5px 0 5px light-dark(#ede2b6,#1c0812),
                0 -2px 5px light-dark(#ede2b6,#1c0812),
                0 2px 5px light-dark(#ede2b6,#1c0812);
    }
    to {
        text-shadow:
                -10px 0 10px light-dark(#ceae98,#5e3921),
                10px 0 10px light-dark(#ffa782,#536339),
                0 -5px 10px light-dark(#ceae98,#77455f),
                0 5px 10px light-dark(#ffa782,#5e3921);
    }
}