/*noinspection CssInvalidFunction*/
#recipe-card {
    border: 1px solid transparent;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(light-dark(#fff,#161510), light-dark(#fff,#0f0f0d)) padding-box,
                linear-gradient(175deg, light-dark(#f73b54,#f49038), light-dark(#3bf7a9,#750f68), light-dark(#dd3575,#750f68), light-dark(#ff370a,#ff370a)) border-box;
    max-width: 70em;
    border-radius:0.25em;
}

/*noinspection CssInvalidFunction*/
#recipe-title {
    min-width: 200px;
    width: 70%;
    padding: 0.5em 1em;
    justify-content: center;
    border-bottom: 1px solid light-dark(#5405ff,#f49038);;
    flex-grow: 1;
    height: 1.35em;
    border-radius: 0 0.25em 0 0;
    background-color: light-dark(#cc88ff,#2d091f);
    border-left: 1px dashed light-dark(#7905ff,#ff370a);;
}

/*noinspection CssInvalidFunction*/
#simple-title {
    min-width: 200px;
    width: 25%;
    justify-content: center;
    padding: 0.5em 1em;
    border-bottom: 1px solid light-dark(#5405ff,#f49038);;
    flex-grow: 1;
    height: 1.35em;
    border-radius: 0.25em 0 0 0;
    background-color: light-dark(#cc88ff,#2d091f);
}

#recipe-steps {
    font-family: "courier new", sans-serif;
    margin-left: 1em;
}

/* indents any notes underneath each step */
/*noinspection CssInvalidFunction*/
#recipe-steps > li > ul > li {
    margin-left: 1.2em;
    color: light-dark(gray,gray);
}

#ingredients-list {
    font-family: "courier new", sans-serif;
    margin-left: 1.25em;
}

#recipe-items-list {
    font-family: "courier new", sans-serif;
    margin-left: 1.25em;
}

#recipe-items-list > li > input[type="checkbox"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

/*noinspection CssInvalidFunction*/
#recipe-items-list > li > input[type="checkbox"]:checked + label {
    color: light-dark(#349b2d,#26f9ab);
    font-weight: 700;
}

#recipe-steps > li > input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

#recipe-steps > li > label {
    transition-duration: 0s;
}

/*noinspection CssInvalidFunction*/
#recipe-steps > li > input[type="radio"]:checked + label {
    color: light-dark(#2633ab,#ff80ec);
    font-weight: 700;
}

#delete-recipe-button {
    margin: 0 0 0 -11em;
    position: relative;
    right: -1em;
    top: -2em;
    width: 11em;
}