/*noinspection CssInvalidFunction*/
#sidebar {
    background-color: light-dark(#65cfff,#c94080);
    height: 100vh;
    transition-duration: 1s;
    z-index: 1;
}

#sidebar-icon {
    place-content: center;
    margin: -2em -1em -1.5em -1em;
}

#sidebar-toggle {
    font-size: 2em;
    background-color: transparent;
    z-index: 1;
    transition-duration: 1s;
}

#sidebar-content {
    overflow-x: hidden;
    text-align: center;
}

/*noinspection CssInvalidFunction*/
#sidebar-content > ul > .button:hover {
    color: light-dark(#3e2afc, #e97aff);
}